<div class="home">
  <section id="menu" class="home__menu">
    <div class="home__menu-logo">
      <i class="fas fa-chart-bar"></i>
    </div>
    <h3 class="home__menu-title">Tus productos</h3>
    <ul class="home__menu-list">
      <li class="home__menu-list-item">
        Tu organizador
      </li>
      <li class="home__menu-list-item">
        Pagos
      </li>
      <li class="home__menu-list-item">
        Transferencias
      </li>
      <li class="home__menu-list-item">
        Certificados
      </li>
      <li class="home__menu-list-item">
        Seguridad
      </li>
    </ul>
  </section>
  <div>
    <section id="summary" class="home__summary">
      <div class="home__summary-buttons">
        <h3 class="home__summary-buttons-title">Buenos días, Miguel</h3>
        <avl-icon-button [icon]="'fas fa-user-circle'" [text]="'Perfil'"></avl-icon-button>|
        <avl-icon-button [icon]="'far fa-bell'" [text]="'Alertas'"></avl-icon-button>|
        <avl-icon-button [icon]="'fas fa-sign-out-alt'" [text]="'Salida segura'"></avl-icon-button>|
      </div>
    </section>
    <div class="home__products">
      <div *ngFor="let product of userProducts" class="home__product">
        <avl-card class="home__card">
          <avl-card-header class="home__card-header">
            <div class="home__content-header-icon" *ngIf="product.product.type === productTypes.fixedTermDepositCertificate; else generalHeader">
              <i class="fas fa-piggy-bank"></i>
            </div>
            <ng-template #generalHeader>
              <div class="home__content-header">
                <div class="home__content-header-icon">
                  <i class="fab fa-cc-visa" *ngIf="product.product.type === productTypes.creditCard && product.summary.franchise === 'VISA'"></i>
                  <i class="fab fa-cc-mastercard" *ngIf="product.product.type === productTypes.creditCard && product.summary.franchise === 'MASTERCARD'"></i>
                  <i class="fas fa-piggy-bank" *ngIf="product.product.type !== productTypes.creditCard"></i>
                </div>
                <div>
                  <a href="" class="home__content-header-view-more">
                    Ver detalles
                  </a>
                  <i class="fas fa-chevron-right home__content-header-view-more-icon"></i>
                </div>
              </div>
            </ng-template>
            <h2 class="home__content-header-text home__content-header-text--title">Crédito de libre destino</h2>
            <p class="home__content-header-text home__content-header-text--subtitle">
              Nro. {{product.product.id}}
            </p>
          </avl-card-header>

          <avl-card-content class="home__card-content">

            <div *ngIf="product.product.type === productTypes.fixedTermDepositCertificate">
              <div>Valor invertido:</div>
              <div class="ava-text--currency">{{product.summary.amount | currency}}</div>
              <p>Plazo: <b>{{product.summary.term.count * 30}} días</b></p>
              <div>Fecha de vencimiento:</div>
              <b>{{product.due_date | date}}</b>
            </div>
            <div *ngIf="product.product.type === productTypes.freeInvestmentLoan">
              <div>Te queda por pagar:</div>
              <div class="ava-text--currency"> {{product.summary.amount | currency}}</div>
            </div>
            <div *ngIf="product.product.type === productTypes.creditCard">
              <div *ngIf="product.summary.franchise === 'VISA'">
                <div>Proximo pago mínimo:</div>
                <div class="ava-text--currency">{{product.summary.min_payment | currency}}</div>

                <p>Pago total: {{product.summary.total_due}}</p>
                <p>fecha de pago: {{product.summary.next_payment | date }}</p>
              </div>
              <div *ngIf="product.summary.franchise === 'MASTERCARD'">
                <p>Cupo disponible:</p>
                {{product.summary.min_payment | currency}}

                <p>Fecha de corte: {{ product.summary.next_payment | date }}</p>
              </div>
            </div>
            <div *ngIf="product.product.type === productTypes.currentAccount">
              <p>En sobregiro:</p>
              {{product.summary.balance | currency}}
            </div>

          </avl-card-content>

          <avl-card-footer class="home__card-footer">
            <div class="ava-content--regular" *ngIf="product.product.type === productTypes.freeInvestmentLoan">
              <div>Has pagado: {{product.summary.paid_installments}} de {{product.summary.total_installments}} cuotas</div>
              <avl-progress-bar [percentage]="(product.summary.paid_installments/product.summary.total_installments) * 100" [height]="10" [width]="'auto'">
              </avl-progress-bar>
              <br/><br/>
            </div>

            <div *ngIf="product.product.type === productTypes.creditCard">

              <div *ngIf="product.summary.franchise === 'VISA'">
                <div class="ava-button--blue"> PAGAR</div>
              </div>

              <div class="ava-content--regular" *ngIf="product.summary.franchise === 'MASTERCARD'">
                <div>Total gastado: {{product.summary.total_due | currency}}</div>
                <avl-progress-bar [percentage]="(product.summary.total_due/product.summary.credit_line) * 100"
                                  [height]="10" [width]="'auto'">
                </avl-progress-bar>
                <br/><br/>
              </div>

            </div>
          </avl-card-footer>
        </avl-card>
      </div>
    </div>
  </div>
</div>
