.home{
  &__content-header{
    display: flex;
    justify-content: space-between;
    &-view-more{
      text-decoration: none;
      margin-right: 4px;
      color: #38a8da;
    }
    &-view-more-icon{
      color: #38a8da;
    }
    &-icon{
      font-size: 30px;
      color: #e4e4e4;
    }
    &-text{
      margin-top: 8px;
      color: #333;
      word-wrap: break-word;
      &--title{
        margin-bottom: 0;
        margin-top: 19px;
      }
      &--subtitle{
        margin-top: 4px;
      }
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__product {
    margin: 8px;
    height: 370px;
    flex: 1;
  }
  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__card-header {
    max-height: 135px;
    display: block;
  }
  &__card-content {
    height: 130px;
    display: block;
  }

  &__card-footer{
   /* height: 50px;
    display: block;*/
  }

  &__menu{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    height: 100%;
    border-radius: 2px;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &-logo{
      text-align: center;
      font-size: 70px;
      color: #f2f2f2;
    }
    &-list{
      list-style: none;
      padding: 0;
      text-align: center;
    }
    &-list-item{
      padding: 16px 0 16px 0;
      border-top: 1px solid #c9c9c9;
      color: #7b7b7b;
      cursor: pointer;
    }
    &-title{
      color: #333;
      margin-top: 70px;
    }
  }
  &__summary{
    display: flex;
    justify-content: space-between;
    &-margin{
      margin-left: 8px;
    }
    &-buttons{
      margin-top: 16px;
    }
    &-buttons-title{
      color: #333;
    }
    &-button-separator{
      margin-right: 4px;
      vertical-align: super;
    }
    &-arrow-space{
      margin: 0 8px 0 8px;
      cursor: pointer;
    }
    &-finances{
      border: 1px solid #e4e4e4;
      padding: 4px 30px;
      margin-top: 8px;
    }
    &-circle-group{
      display: flex;
      justify-content: center;
    }
    &-circle{
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: 0 3px;
      &--filled{
        background-color: #7b7b7b;
        border: 1px solid #7b7b7b;
      }
      &--void{
        background-color: white;
        border: 1px solid #7b7b7b;
      }
    }

    &-quantity-products{
      display: flex;
      justify-content: space-around;
      margin: 12px 0;
    }
    &-quantity-item{
      margin-right: 4px;
      color: #38a8da;
      cursor: pointer;
    }
  }

}
@media screen and (min-width: 480px) {
  .home {
    display: flex;
    flex-direction: column;
    &__products {
      flex-direction: row;
    }

    &__product {
      flex: 1 0 auto;
      min-width: 30%;
      max-width: calc(50% - 16px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    display: flex;
    flex-direction: row;
    &__product {
      flex: 1;
      min-width: 20%;
    }
  }
}
