<div class="home">
  <section id="menu" class="home__menu">
    <div class="home__menu-logo">
      <i class="fas fa-chart-bar"></i>
    </div>
    <h3 class="home__menu-title">{{'your_products' | translate}}</h3>
    <ul class="home__menu-list">
      <li class="home__menu-list-item">
        {{'your_organizer' | translate}}
      </li>
      <li class="home__menu-list-item">
        {{'payments' | translate}}
      </li>
      <li class="home__menu-list-item">
        {{'transfers' | translate}}
      </li>
      <li class="home__menu-list-item">
        {{'certificates' | translate}}
      </li>
      <li class="home__menu-list-item">
        {{'security' | translate}}
      </li>
    </ul>
    <div class="home__menu-lang-options">
      <a class="home__menu-lang-options-text" (click)="setLang('es')">{{'spanish'| translate}}</a>
      <span class="home__menu-lang-options-separator">|</span>
      <a class="home__menu-lang-options-text" (click)="setLang('en')">{{'english'| translate}}</a>
    </div>
  </section>
  <div>
    <section id="summary" class="home__summary-margin">
      <div class="home__summary">
        <div>
          <h3 class="home__summary-buttons-title">{{'good_morning' | translate}}, {{name}}</h3>
        </div>
        <div class="home__summary-buttons">
          <avl-icon-button [icon]="'fas fa-user-circle'" [text]="'profile' | translate"></avl-icon-button>
          <span class="home__summary-button-separator">|</span>
          <avl-icon-button [icon]="'far fa-bell'" [text]="'alerts' | translate"></avl-icon-button>
          <span class="home__summary-button-separator">|</span>
          <avl-icon-button [icon]="'fas fa-sign-out-alt'" [text]="'safe_exit' | translate"></avl-icon-button>
        </div>
      </div>
      <div>
        {{'show_another_products' | translate}}: <avl-toggle (checked)="showAnotherBanks($event)"></avl-toggle>
      </div>
      <div class="home__summary home__summary-finances">
        <div>
          <h3 class="home__summary-buttons-title">{{'your_finances' | translate}}</h3>
        </div>
        <div>
          <p>
            <i class="fas fa-chevron-left home__summary-arrow-space"></i>
            <span>{{'savings_products' | translate}}:</span>
            {{2351000.00 | currency}}
            <i class="fas fa-chevron-right home__summary-arrow-space"></i>
          </p>
          <div class="home__summary-circle-group">
            <div class="home__summary-circle home__summary-circle--filled"></div>
            <div class="home__summary-circle home__summary-circle--void"></div>
            <div class="home__summary-circle home__summary-circle--void"></div>
          </div>
        </div>
      </div>
      <div class="home__summary-quantity-products">
        <a class="home__summary-quantity-item" (click)="filterByProductType(productTypes.fixedTermDepositCertificate)">
          {{'FIXED_TERM_DEPOSIT_CERTIFICATE' | translate}} ({{productCounters[productTypes.fixedTermDepositCertificate]}})
        </a>
        <a class="home__summary-quantity-item" (click)="filterByProductType(productTypes.freeInvestmentLoan)">
          {{'FREE_INVESTMENT_LOAN' | translate}} ({{productCounters[productTypes.freeInvestmentLoan]}})
        </a>
        <a class="home__summary-quantity-item" (click)="filterByProductType(productTypes.creditCard)">
          {{'CREDIT_CARD' | translate}} ({{productCounters[productTypes.creditCard]}})
        </a>
        <a class="home__summary-quantity-item" (click)="filterByProductType(productTypes.currentAccount)">
          {{'CURRENT_ACCOUNT' | translate}} ({{productCounters[productTypes.currentAccount]}})
        </a>
      </div>
    </section>
    <div class="home__products">
      <div *ngFor="let product of userProducts | bankFilter: onlyPurpleBank:productTypeFilter" class="home__product">
        <avl-card class="home__card">
          <avl-card-header class="home__card-header">
            <div class="home__content-header-icon"
                 *ngIf="product.product.type === productTypes.fixedTermDepositCertificate; else generalHeader">
              <i class="fas fa-piggy-bank"></i>
            </div>
            <ng-template #generalHeader>
              <div class="home__content-header">
                <div class="home__content-header-icon">
                  <i class="fab fa-cc-visa"
                     *ngIf="product.product.type === productTypes.creditCard && product.summary.franchise === 'VISA'"></i>
                  <i class="fab fa-cc-mastercard"
                     *ngIf="product.product.type === productTypes.creditCard && product.summary.franchise === 'MASTERCARD'"></i>
                  <i class="fas fa-piggy-bank" *ngIf="product.product.type !== productTypes.creditCard"></i>
                </div>
                <div>
                  <a href="" class="home__content-header-view-more">
                    {{'view_detail' | translate}}
                  </a>
                  <i class="fas fa-chevron-right home__content-header-view-more-icon"></i>
                </div>
              </div>
            </ng-template>
            <h2 class="home__content-header-text home__content-header-text--title">{{product.product.type | translate}}</h2>
            <p class="home__content-header-text home__content-header-text--subtitle" *ngIf="product.product.type !== productTypes.creditCard">
              {{'number' | translate}} {{product.product.id}}
            </p>
            <p class="home__content-header-text home__content-header-text--subtitle" *ngIf="product.product.type === productTypes.creditCard">
              {{'number' | translate}} {{product.product.id | cardMask}}
            </p>
          </avl-card-header>

          <avl-card-content class="home__card-content">

            <div *ngIf="product.product.type === productTypes.fixedTermDepositCertificate">
              <div>{{'invested_value' | translate}}:</div>
              <div class="ava-text--currency">{{product.summary.amount | currency}}</div>
              <p>{{'term' | translate}}: <b>{{product.summary.term.count * 30}} {{'days' | translate}}</b></p>
              <div>{{'due_date' | translate}}:</div>
              <b>{{product.due_date | date}}</b>
            </div>
            <div *ngIf="product.product.type === productTypes.freeInvestmentLoan">
              <div>{{'have_to_pay' | translate }}:</div>
              <div class="ava-text--currency"> {{product.summary.amount | currency}}</div>
            </div>
            <div *ngIf="product.product.type === productTypes.creditCard">
              <div *ngIf="product.summary.franchise === 'VISA'">
                <div>{{ 'next_payment' | translate}} :</div>
                <div class="ava-text--currency">{{product.summary.min_payment | currency}}</div>

                <p>{{'full_payment' | translate}}: {{product.summary.total_due}}</p>
                <p>{{'payment_date' | translate}}: {{product.summary.next_payment | date }}</p>
              </div>
              <div *ngIf="product.summary.franchise === 'MASTERCARD'">
                <p>{{'available_space' | translate}} :</p>
                {{product.summary.min_payment | currency}}

                <p>{{'cutoff_date' | translate}}: {{ product.summary.next_payment | date }}</p>
              </div>
            </div>
            <div *ngIf="product.product.type === productTypes.currentAccount">
              <p>{{'in_overdraft' | translate}} :</p>
              {{product.summary.balance | currency}}
            </div>

          </avl-card-content>

          <avl-card-footer class="home__card-footer">
            <div class="ava-content--regular" *ngIf="product.product.type === productTypes.freeInvestmentLoan">
              <p>{{'you_have_paid' | translate }} : {{product.summary.paid_installments}} {{'of' | translate}} {{product.summary.total_installments}} {{'dues' | translate}}
              </p>
              <avl-progress-bar
                [percentage]="(product.summary.paid_installments/product.summary.total_installments) * 100"
                [height]="10" [width]="'auto'">
              </avl-progress-bar>
              <br/><br/>
            </div>

            <div *ngIf="product.product.type === productTypes.creditCard">

              <div *ngIf="product.summary.franchise === 'VISA'">
                <div class="ava-button--blue"> {{'pay' | translate}}</div>
              </div>

              <div class="ava-content--regular" *ngIf="product.summary.franchise === 'MASTERCARD'">
                <p>{{'total_spend' | translate}}: {{product.summary.total_due | currency}}</p>
                <avl-progress-bar [percentage]="(product.summary.total_due/product.summary.credit_line) * 100"
                                  [height]="10" [width]="'auto'">
                </avl-progress-bar>
                <br/><br/>
              </div>

            </div>
          </avl-card-footer>
        </avl-card>
      </div>
    </div>
  </div>
</div>
